<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <script>
    let dot = 0;
    let loadingTimer = setInterval(() => {
      dot = (dot + 1) % 6;
      document.getElementById('stock-element').innerText = `剩餘數量：${'.'.repeat(dot)}`;
    }, 250); 

    window.onload = function() {
      fetch('https://yt-restful.herokuapp.com/')
        .then(function(response) {
          clearInterval(loadingTimer);
          loadingTimer = null;
          return response.json();
        })
        .then(function(data) {
          document.getElementById('stock-element').innerText = `剩餘數量：${data.stock}`;
        });
    };
  </script>
  <style>
    .info {
      background-color: #f8f8f8;
      border-radius: 5px;
      padding: 5px 15px;
      border: 1px solid #e5e5e5;
    }

  </style>
  <body>
    <div class="wrapper">
      <header>
        <!-- <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1> -->
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <a href="https://steamcommunity.com/id/Whitey_Keybot/"><img src="{{site.logo | relative_url}}" alt="Whitey's Bot" /></a>
        {% endif %}

        <!-- <p>{{ site.description | default: site.github.project_tagline }}</p> -->
        <div class="info">
          <h2>出售價格：<strong style="color: red">$ 55</strong></h2>
          <h2 id="stock-element">剩餘數量：{{ site: default_stock | default: 300}}</h2>
          <h2>付款方式：7-11、全家、OK、萊爾富代碼繳費</h2>
          <h2>已完成訂單：322</h2>
        </div>
        
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p>聯絡管理員： <a href="https://steamcommunity.com/id/Whitey_-/">Whitey</a></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>